<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.password">toor</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/anonimo</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
		                
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">100</property>
		<property name="hibernate.c3p0.max_size">100</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.timeout">200</property>
        
        <mapping resource="com/anonimo/api/model/User.hbm.xml"/>
        <mapping resource="com/anonimo/api/model/Message.hbm.xml"/>
        <mapping resource="com/anonimo/api/model/Comment.hbm.xml"/>
        <mapping resource="com/anonimo/api/model/Event.hbm.xml"/>
        <mapping resource="com/anonimo/api/model/UserEvent.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
